@font-face{
    font-family: RobotoCondensed;
	src: 'url(/home/vova/Документы/BookShare/Code/Design files/RobotoCondensed-Regular.ttf)';
}

.body {
    background-color: white;    
    height: 3218px;
}
#logo{
    width: 96px;
    position: relative;
}
#sign-up-botton{
    background-color: #7673D9;
    border-radius: 10px;
    color: white;
    text-align: center;
    top: 40px;
    width: 150px;
    height: 60px;
    font-size: 36px;
    left: 88%;
    border-width: 0px;
    box-shadow: gray;
    position: fixed;
    font-family: RobotoCondensed;
}
#log-in-button{ 
    left: 82%;
}
.header-buttons{
    background-color: white;
    border: white;
    font-size: 26px;
    top: 60px;
    position: absolute;
    font-family: RobotoCondensed;
}
#info-button{
    left: 68%;
}

#contacts-button{
    left: 61%;
}
#sign-up-box{
    background-color: #4867D6;
    color: #4867D6;
    border-radius: 10px;
    position: absolute;
    width: 861px;
    height: 514px;
    left: 530px;
    top: 221px;
}
#sign-up-h{
    text-align: center;
    color: white;
}